<form>
	<h1 class="font-bold">Welcome!</h1>
	<div class="flex flex-col gap-4">
		<mat-form-field [appearance]="'outline'">
			<mat-label>Username</mat-label>
			<mat-icon matTextPrefix color="primary">person_outline</mat-icon>
			<input type="text" matInput />
		</mat-form-field>

		<mat-form-field [appearance]="'outline'">
			<mat-label>Password</mat-label>
			<mat-icon matTextPrefix color="primary">password</mat-icon>
			<input type="password" matInput />
		</mat-form-field>
		<button type="button" class="w-full xl:w-auto self-end" mat-flat-button color="primary">Login</button>
	</div>
</form>

<div class="flex items-center mt-4 px-4">
	<div class="h-0.5 bg-black bg-opacity-40 flex-grow"></div>
	<span class="mx-4">or</span>
	<div class="h-0.5 bg-black bg-opacity-40 flex-grow"></div>
</div>

<div class="flex mt-8 px-4">
	<button mat-stroked-button class="border-2 w-full py-2 !rounded-none">
		<span class="flex gap-4">
			<img src="images/auth/microsoft.png" alt="microsoft logo" />
			<span>Sigin with Microsoft</span>
		</span>
	</button>
</div>

<button (click)="changeTheme()">Change Theme</button>
