<div class="pt-6 text-center flex flex-col items-center gap-4">
	<div
		class="rounded-full object-cover object-center transition-all ease-in-out flex justify-center items-center bg-fix-primary font-bold uppercase text-surface"
		[style.height]="pictureSize()"
		[style.width]="pictureSize()"
		[ngClass]="{ '!h-[32px] !w-[32px]': isCollapse(), '!h-[100px] !w-[100px]': !isCollapse() }"
	>
		SW
	</div>
	<div class="h-[50px] transition-all ease-in-out duration-500" [class.hide-header-text]="isCollapse()">
		<span>shavarlo</span>
	</div>
</div>
