/* You can add global styles to this file, and also import other style files */

* {
	font-family: 'Poppins', serif !important;
}

.material-icons {
	font-family: 'Material Icons' !important;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
}

@import './styles/tailwind.scss';
@import './styles/material-theme.scss';
